h1{
    text-align:center;
   
}

body{
    background-color: rgb(202, 240, 192);
    color: rgb(6, 74, 10);
}

a:link, a:visited {
    color: blue;
  }

img{
    width: 300px;
    
}
table {
    border-spacing: 30px;
  
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  }
  tr{
    background-color: red;
  }
  th{
    background-color: green;
  }