body{
    background-color: rgb(61, 227, 227);
}

table, th, td {
    border: 3px solid rgb(37, 230, 230);
    border-collapse: collapse;
    text-align: center;
}
table{
    background-color: aquamarine;
    border-color: aquamarine;
}